[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "2.0.0"
numpy = "*"
scikit-learn = "*"
scipy = "*"
gpyopt = "*"

[dev-packages]
ipykernel = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
flake8 = "*"
pytest = "*"

[requires]
python_version = "3.7"
